<template>
  <div>
    <div v-if="!selected" class="categories">
      <div
        class="categories__cat"
        :key="cat"
        v-for="cat in categories"
        v-bind:style="cssVars(cat)"
      >
        <div class="categories__header-box">
          <router-link
            :to="{ name: 'categories', params: { cat } }"
            class="categories__header"
            >{{ cat }}</router-link
          >
          <div v-if="user.id">
            <button
              @click="subscribe(cat)"
              v-bind:class="[
                !subscribed(cat) ? 'categories__active' : '',
                'categories__passive'
              ]"
            >
              {{
                !subscribed(cat) ? $t("profile.follow") : $t("profile.unfollow")
              }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <Feed v-if="selected" v-bind:category="selected"></Feed>
  </div>
</template>

<script>
import categories from "../constants/categories.json";
import Feed from "../components/feedComponent";

import { mapState, mapActions } from "vuex";

export default {
  data: function() {
    return {
      categories: categories,
      selected: ""
    };
  },
  computed: {
    ...mapState({
      user: state => state.user
    })
  },
  watch: {
    $route(to) {
      if (to.params.cat === "all") this.selected = "";
      else this.selected = to.params.cat;
    }
  },
  methods: {
    ...mapActions(["getUser"]),
    ...mapActions("profile", ["subscribeToCat"]),
    subscribed: function(cat) {
      return this.user.categories.includes(cat);
    },
    cssVars(cat) {
      const src = require(`../assets/categories/${cat}.jpeg`);
      return {
        "--image": `url(${src})`
      };
    },
    subscribe: async function(cat) {
      await this.subscribeToCat({ cat });
      this.getUser(true);
    }
  },
  mounted() {
    if (this.$attrs.cat === "all" || "") this.selected = "";
    else this.selected = this.$attrs.cat;
  },
  components: {
    Feed
  }
};
</script>

<style lang="scss">
.categories {
  background-color: #c4c4c4;
  background-color: #c4c4c4;
  display: grid;
  grid-template-columns: repeat(auto-fill, 40rem);
  grid-gap: 2rem;
  grid-auto-rows: 1fr;
  justify-content: center;
  margin: 0 2% 0 2%;
  font-size: 1.6rem;
  color: white;

  @media only screen and (max-width: 1040px) {
    grid-template-columns: 1fr 1fr;
  }

  @media only screen and (max-width: 600px) {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }

  > div {
    margin: 2%;
    @media only screen and (max-width: 600px) {
      margin: 0;
    }
  }

  &__cat {
    padding: 4rem 0;

    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      var(--image);
    background-size: cover;
    @media only screen and (max-width: 600px) {
      width: 100%;
    }
  }

  &__header-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  &__header {
    font-size: 3.2rem;
    font-weight: 300;
    text-transform: uppercase;
  }

  &__passive {
    color: white;
    text-transform: uppercase;
    font-size: 1.2rem;
    height: 3.3rem;
    text-align: center;

    background: #343a40;

    border-radius: 0.5rem;
    border-color: #000000;
    padding: 0.5rem 1.5rem;
    text-transform: uppercase;
  }

  &__active {
    color: black;

    font-size: 1.2rem;
    height: 3.3rem;
    text-align: center;

    background: #e5e5e5;

    border-radius: 0.5rem;
    border-color: #000000;
    padding: 0.5rem 1.5rem;
    text-transform: uppercase;
  }
}
</style>
