<template>
  <FeedComponent :title="$t('feed.allQuestions')"></FeedComponent>
</template>

<script>
import FeedComponent from "../components/feedComponent";

export default {
  name: "feed",

  components: { FeedComponent }
};
</script>
