<template>
  <div class="not-found">
    <h1>{{$t('404.notFound')}}</h1>
    <p>{{$t('404.mainText')}}</p>
    <img src="../assets/creep.gif" />
  </div>
</template>

<style lang="scss">
.not-found {
  font-size: 1.6rem;
  display: flex;
  align-items: center;

  > img {
    height: 35.8rem;
    width: 48.5rem;
  }
}
</style>
