<template>
  <FeedComponent
    personal="true"
    :title="$t('feed.personalFeed')"
  ></FeedComponent>
</template>

<script>
import FeedComponent from "../components/feedComponent";

export default {
  name: "personalFeed",

  components: { FeedComponent }
};
</script>

<style lang="scss"></style>
