<template>
  <div class="policy">
    <p>This is a placeholder for policy and other stuff.</p>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss">
.policy {
  font-size: 1.4rem;
  display: flex;
  width: 50rem;
}
</style>
