<template>
  <div>
    <div class="profile-page__user">
      <div class="profile-page__user-block">
        <img class="profile-page__user-avatar" :src="avatar" />
        <p class="profile-page__user-name">{{ name }}</p>
      </div>
      <div class="profile-page__stats">
        <p class="profile-page__stats-count">
          {{ Number(stats.questions) }} <br />
          {{ $t("general.questions") }}
        </p>
        <p class="profile-page__stats-count">
          {{ Number(stats.answers) }} <br />
          {{ $t("general.answers") }}
        </p>
      </div>
      <Status
        class="profile-page__stats"
        :status="Number(stats.total)"
        hideButtons
      ></Status>
      <h3
        v-if="friends.length || categories.length"
        class="profile-page__header"
      >
        {{ $t("profile.subFriends") }}
      </h3>
      <div class="profile-page__categories">
        <Category
          :key="cat"
          v-for="cat in categories"
          :cat="cat"
          :enabled="true"
        ></Category>
      </div>
      <StyledButton
        @click.native="addFriend"
        :mode="!subscribed() ? 'grey' : 'white'"
        v-if="
          this.$store.state.user.id &&
            this.$store.state.user.id !== this.$route.params.id
        "
        :text="!subscribed() ? $t('profile.follow') : $t('profile.unfollow')"
      />
      <div v-if="friends.length">
        <img
          class="profile-page__friend-avatar"
          :key="friend.id"
          v-for="friend in friends"
          :src="friend.avatar"
          :title="friend.name"
          @click="navigateTo(friend.id)"
        />
      </div>
    </div>
    <div class="profile-page_feed">
      <FeedComponent :author="userId"></FeedComponent>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import FeedComponent from "../components/feedComponent";
import Category from "../components/category";
import StyledButton from "../components/shared/StyledButton";
import Status from "../components/status";

export default {
  data: function() {
    return {
      userId: this.$route.params.id
    };
  },
  components: { FeedComponent, Category, StyledButton, Status },
  computed: {
    ...mapState({
      id: state => state.profile.id,
      name: state => state.profile.name,
      avatar: state => state.profile.avatar,
      friends: state => state.profile.friends,
      categories: state => state.profile.categories,
      stats: state => state.profile.stats
    })
  },
  methods: {
    ...mapActions(["getUser"]),
    ...mapActions("profile", [
      "loadUserProfile",
      "addToFriendsList",
      "resetStateAction"
    ]),
    subscribed: function() {
      return this.$store.state.user.friends.includes(this.$route.params.id);
    },
    async addFriend() {
      await this.addToFriendsList({
        friend: this.id,
        add: !this.subscribed()
      });
      this.getUser(true);
    },
    navigateTo: function(id) {
      this.$router.push({ name: "profile", params: { id } });
    }
  },
  watch: {
    $route(to) {
      this.resetStateAction();
      this.userId = to.params.id;
      this.loadUserProfile(to.params.id);
    }
  },
  mounted() {
    this.resetStateAction();
    this.userId = this.$route.params.id;

    this.loadUserProfile(this.$route.params.id);
  }
};
</script>

<style lang="scss">
.profile-page {
  height: 100%;
  width: 100%;

  &__user {
    margin: 5% 10% 5% 10%;
    padding: 2.5rem;
    background: #e5e5e5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 0.5rem solid black;

    @media only screen and (max-width: 600px) {
      margin: 0;
      border: 0;
    }
  }

  &__stats-count {
    padding: 0.5rem;
  }

  &__stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 3.2rem;
    font-weight: 200;
    color: black;
  }

  &__user-block {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__header {
    font-size: 2rem;
    font-weight: 400;
    color: black;
    text-transform: uppercase;
  }

  &__user-avatar {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
  }
  &__friend-avatar {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    cursor: pointer;
  }

  &__user-name {
    font-size: 3.6rem;
    text-transform: uppercase;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: black;
    margin: 0 0 0 5rem;
  }

  &__categories {
    margin: 0 3rem 3rem 3rem;
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: flex-end;
  }
}
</style>
