<template>
  <div class="question-page">
    <div class="question-page__question">
      <div class="question-page__author">
        <div class="question-page__author-profile">
          <Profile
            :avatar="question.author.avatar"
            :name="question.author.name"
            :id="question.author.id"
          ></Profile>
        </div>
        <div class="question-page__categories">
          <Category
            :key="cat"
            v-for="cat in question.categories"
            :cat="cat"
            :enabled="true"
          ></Category>
        </div>
        <div class="question-page__date">
          <MainText
            :value="new Date(question.created).toLocaleDateString() || '...'"
            weight="200"
            size="2rem"
          ></MainText>
        </div>
      </div>
      <div class="question-page__data">
        <QuestionForm
          v-if="edit"
          :question="question"
          :edit="edit"
          :startEdit="startEdit"
          ref="questionForm"
        ></QuestionForm>
        <div v-if="!edit" class="question-page__text">
          <Header :value="question.header"></Header>
          <MainText
            :value="question.description"
            :loadingLines="6"
            weight="200"
          ></MainText>
        </div>
        <div class="question-page__status-edit">
          <div v-if="!edit && !isLoading" class="question-page__status">
            <Status
              :status="question.status"
              :questionId="question.id"
            ></Status>
          </div>
          <EditButtons
            v-if="
              (user.isAdmin || user.id === question.author.id) && !isLoading
            "
            :edit="edit"
            :remove="remove"
            :startEdit="startEdit"
            :removeDialog="removeDialog"
            :saveAction="editQuestion"
            :deleteAction="deleteQuestion"
          ></EditButtons>
        </div>
      </div>
      <img
        v-if="question.image && !isLoading"
        class="question-page__image"
        :src="`${apiUrl}/img/${question.image}`"
      />
    </div>
    <Answer
      :v-if="answers.length"
      :key="answer.id"
      v-for="answer in answers"
      :answer="answer"
      :questionId="question.id"
    ></Answer>
    <div class="question-page__send-answer" v-if="user.id">
      <div class="question-page__input-text">
        <textarea
          v-model="myAnswer"
          class="question-page__new-answer"
          placeholder="Your answer here.."
        />
      </div>
      <div class="question-page__user">
        <Profile
          :avatar="user.avatar"
          :name="user.name"
          :id="user.id"
        ></Profile>
        <StyledButton
          @click.native="commitAnswer(myAnswer)"
          mode="white"
          :text="$t('buttons.send')"
        ></StyledButton>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";
import Category from "../components/category";
import Profile from "../components/profileComponent";
import Status from "../components/status";
import Answer from "../components/answer";
import EditButtons from "../components/editButtons";
import StyledButton from "../components/shared/StyledButton";
import QuestionForm from "../components/questionForm";
import Header from "../components/shared/Header";
import MainText from "../components/shared/MainText";

import { apiUrl } from "../constants/urls";

export default {
  name: "question",
  data: function() {
    return {
      myAnswer: "",
      edit: false,
      remove: false,
      apiUrl
    };
  },
  components: {
    Category,
    Status,
    Profile,
    Answer,
    EditButtons,
    QuestionForm,
    StyledButton,
    Header,
    MainText
  },
  computed: {
    ...mapState({
      question: state => state.question.question,
      answers: state => state.question.answers,
      author: state => state.question.author,
      user: state => state.user,
      isLoading: state => state.isLoading
    })
  },
  props: ["id"],
  methods: {
    ...mapActions("question", ["sendAnswer", "removeQuestion"]),
    ...mapMutations("question", ["setQuestion", "setAnswers"]),
    commitAnswer(myAnswer) {
      this.$store.dispatch("question/sendAnswer", {
        questionId: this.question.id,
        answer: myAnswer
      });
      this.myAnswer = "";
      this.$store.dispatch("question/loadAnswers", this.$route.params.id);
    },
    startEdit(bool) {
      this.edit = bool;

      if (!bool) {
        this.$store.dispatch("question/loadAnswers", this.$route.params.id);
      }
    },
    editQuestion() {
      const err = this.$refs.questionForm.buildAndSendQuestion();

      if (!err) this.edit = false;
    },
    removeDialog(bool) {
      this.remove = bool;
    },
    deleteQuestion() {
      this.removeQuestion(this.id);
    }
  },
  mounted() {
    window.scrollTo(0, 0);
    this.$store.dispatch("question/loadQuestion", this.$route.params.id);
  }
};
</script>

<style lang="scss">
.question-page {
  width: 100%;
  background-color: #c4c4c4;
  font-size: 2rem;

  font-weight: 200;

  color: black;

  &__question {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    display: flex;
    width: 80%;
    background-color: white;
    flex-direction: row;
    border-left: 0.5rem solid black;
    transition: height 300ms;

    @media only screen and (max-width: 600px) {
      flex-direction: column;
      min-height: unset;
      margin: 0;
      align-self: center;
      width: 100%;
      border-left: 0;
    }
  }

  &__author {
    width: 27rem;
    display: flex;
    flex-direction: column;
    background-color: #e5e5e5;

    @media only screen and (max-width: 600px) {
      width: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }

  &__author-profile {
    flex: 1;
    margin: 3rem;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    @media only screen and (max-width: 600px) {
      margin: 1rem;
    }
  }

  &__author-img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
  }

  &__data {
    padding: 3.5rem 3.5rem 1rem 3.5rem;

    flex: 2;
    display: flex;
    flex-direction: column;
    background-color: white;
  }

  &__text {
    flex: 3;
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  &__status-edit {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__image {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: white;
    width: 100%;
    max-width: 30rem;
    max-height: 60rem;
    animation: none;

    -o-object-fit: contain;
    object-fit: contain;
    background-size: cover;

    @media only screen and (max-width: 600px) {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
      max-width: unset;
    }
  }

  &__categories {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width: 600px) {
      flex-direction: row;
      align-self: center;
      flex-wrap: wrap;
      justify-content: center;
      max-height: 15rem;
      overflow-y: auto;
    }
  }

  &__date {
    flex: 1;
    align-items: flex-end;
    justify-content: center;
    margin: 1rem;
    font-weight: 200;
    font-size: 2rem;

    @media only screen and (max-width: 600px) {
      margin: 0;
      font-size: 1.5rem;
    }
  }

  &__send-answer {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    display: flex;
    width: 80%;
    border-left: 0.5rem solid black;
    min-height: 25rem;
    background-color: white;

    @media only screen and (max-width: 600px) {
      width: 100%;
      margin: 0;
      border-left: 0;
    }
  }

  &__input-text {
    flex: 3;
    margin: 3.5rem;
    background: white;
    @media only screen and (max-width: 600px) {
      margin: 2rem;
    }
  }

  &__new-answer {
    width: 100%;
    height: 100%;
  }

  &__user {
    flex: 1;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #e5e5e5;
    text-transform: uppercase;

    @media only screen and (max-width: 600px) {
      padding: 1rem;
    }
  }

  &__send {
    margin: 3.5rem;

    background: white;

    font-size: 1.4rem;
    font-weight: 200;
    width: 11rem;
    height: 4.5rem;

    @media only screen and (max-width: 600px) {
      width: 8rem;
      height: 3rem;
      margin: 1rem;
    }

    border-radius: 0.5rem;
    border-color: #000000;
    padding: 0.5rem 1.5rem;
    text-transform: uppercase;
    border-width: 0.1rem;
  }
}

.edit {
  height: 0;
  transition: height 300ms;
}
</style>
