<template>
  <div>
    <img src="https://loading.io/spinners/square/lg.square-grid-loader.gif" alt="Loading..." />
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  methods: {
    ...mapActions(['getUser'])
  },
  mounted () {
    // if (!this.$store.state.user.id) this.$store.dispatch("getUser");
    this.$router.go()
  }
}
</script>
