<template>
  <div id="app">
    <NavBar class="header"></NavBar>
    <notifications
      classes="notification"
      ignoreDuplicates="true"
      position="bottom left"
      group="app"
    />
    <transition
      name="fade"
      mode="out-in"
      @beforeLeave="beforeLeave"
      @enter="enter"
      @afterEnter="afterEnter"
    >
      <router-view class="main" :key="$route.fullPath" />
    </transition>
    <LoginModal v-if="this.$store.state.showLoginModal"></LoginModal>
    <AskModal v-if="this.$store.state.showAskModal"></AskModal>
    <FooterComponent id="footer"></FooterComponent>
  </div>
</template>

<script>
import NavBar from "@/components/navBar.vue";
import FooterComponent from "@/components/footer.vue";
import LoginModal from "@/components/modalLogin.vue";
import AskModal from "@/components/modalAsk.vue";

import jwtDecode from "jwt-decode";
import axios from "axios";
import router from "./router";
import { i18n } from "./locales/i18n";
import { mapState, mapMutations, mapActions } from "vuex";

export default {
  components: { NavBar, FooterComponent, LoginModal, AskModal },
  data: function() {
    return {
      d: ""
    };
  },
  computed: {
    ...mapState({
      isLoading: state => state.isLoading,
      lang: state => state.lang
    })
  },
  methods: {
    ...mapMutations(["setToken", "setLoading"]),
    ...mapActions(["getUser", "logout", "changeLanguage"]),
    beforeLeave(element) {
      this.prevHeight = getComputedStyle(element).height;
    },
    enter(element) {
      const { height } = getComputedStyle(element);

      element.style.height = this.prevHeight;

      setTimeout(() => {
        element.style.height = height;
      });
    },
    afterEnter(element) {
      element.style.height = "auto";
    }
  },
  mounted() {
    let decodedToken;

    const localToken = localStorage.getItem("token");
    const localLang = localStorage.getItem("lang");

    if (!this.lang && !localLang) this.changeLanguage("en");
    else if (this.lang) this.changeLanguage(this.lang);
    else if (localLang) this.changeLanguage(localLang);

    if (localToken) {
      decodedToken = jwtDecode(localToken);

      if (decodedToken.exp <= Math.floor(Date.now() / 1000)) {
        localStorage.removeItem("token");
        axios.defaults.headers.common.Authorization = "";
        this.logout();
        return;
      }

      this.setToken(localToken);
    }

    this.getUser();
  },
  created() {
    var self = this;
    axios.interceptors.response.use(undefined, err => {
      return new Promise(function(resolve) {
        if (
          err.response.status === 401 &&
          err.config &&
          !err.config.__isRetryRequest
        ) {
          self.$store.dispatch("logout");
        }
        if (
          err.response.status === 404 &&
          err.config &&
          !err.config.__isRetryRequest
        ) {
          router.push({ name: "errorPage" });
          self.$notify({
            group: "app",
            type: "error",
            title: i18n.t("notifications.cantFind")
          });
        }
        if (
          err.response.status === 500 &&
          err.config &&
          !err.config.__isRetryRequest
        ) {
          self.$notify({
            group: "app",
            type: "error",
            title: "Server error!"
          });
        }
        resolve();
        throw err;
      });
    });

    this.axios.interceptors.request.use(
      config => {
        if (
          !config.url.includes("/up") &&
          !config.url.includes("/down") &&
          !config.url.match(/page=([2-9]|\d\d\d*)/)
        )
          this.setLoading(true);
        return config;
      },
      error => {
        this.setLoading(false);
        return Promise.reject(error);
      }
    );

    this.axios.interceptors.response.use(
      response => {
        this.setLoading(false);
        return response;
      },
      error => {
        this.setLoading(false);
        return Promise.reject(error);
      }
    );
  }
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=latin-ext");

body,
html {
  margin: 0;
  // height: 100%;
  width: 100%;
  min-height: 100%;

  overflow-y: auto;

  font-size: 62.5%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  text-align: center;
  display: flex;

  @media (min-width: 320px) and (max-width: 480px) {
    font-size: 50%;
  }

  color: #2c3e50;
  background: #c4c4c4;
}

#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  width: 100%;
}

header {
  flex: 0 1 auto;
}

footer {
  flex: 0 1 auto;
}

button {
  @media only screen and (max-width: 600px) {
    border-width: 1px;
  }
}

input {
  font-family: "Roboto";
  font-weight: 300;
}

textarea {
  font-family: "Roboto";
  font-weight: 300;
}

.notification {
  background: white;
  padding: 10px;
  margin: 0 5px 5px;

  font-size: 12px;

  border: 1px solid black;

  border-left: 5px solid black;

  .notification-title {
    font-size: 1.4rem;
    font-family: "Roboto";
    font-weight: 300;
    color: black;
  }

  &.success {
    background: white;
  }

  &.error {
    background: red;
  }
}

.main {
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  overflow-y: auto;
}

img {
  animation: pulse 1s infinite ease-in-out;
}

a {
  text-decoration: none;
  &:hover {
    color: darkgrey;
  }
}

button:hover {
  color: darkgrey;
}

.dropdown {
  background-color: white;
  border: 1px solid black;
  z-index: 2;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      position: relative;
      text-align: center;

      a {
        display: block;
        padding: 0.8rem;
        text-decoration: none;
        color: black;

        &:hover {
          background-color: grey;
        }
      }
    }
  }

  > a {
    color: black;
    width: 100%;

    &:hover {
      background-color: grey;
    }
  }
}

.loading {
  &__mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    display: flex;
    align-items: center;

    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.2s ease;

    color: black;

    position: fixed;
    padding: 0;
    margin: 0;

    top: 0;
    left: 0;
    align-items: center;

    width: 100%;
    height: 100%;
    display: flex;
  }
}

.modal-enter-active,
.modal-leave-active {
  transition: opacity 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.modal-enter, .modal-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

svg {
  margin: 0 auto;
  overflow: hidden;
  // filter: invert(100);
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: height, opacity;
  transition-timing-function: ease;
  overflow: hidden;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.loading-line {
  height: 10px;
  margin: 10px;
  animation: pulse 1s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    background-color: rgba(165, 165, 165, 0.1);
  }
  50% {
    background-color: rgba(165, 165, 165, 0.3);
  }
  100% {
    background-color: rgba(165, 165, 165, 0.1);
  }
}
</style>
