<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="apple-mobile-web-app-title" content="OZO" />
    <meta name="msapplication-TileImage" content="./src/assets/OZO-logo.png" />
    <meta name="msapplication-TileColor" content="#000" />
    <title>ozo</title>
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but ozo-web doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong
      >
    </noscript>
    <div id="app"></div>
  </body>
</html>
