<template>
  <div class="answer">
    <div class="answer__author-date">
      <div class="answer__author-profile">
        <Profile
          :id="answer.author.id"
          :name="answer.author.name"
          :avatar="answer.author.avatar"
        ></Profile>
      </div>
      <div class="answer__date">
        <p>{{ new Date(answer.created).toLocaleDateString() || "..." }}</p>
      </div>
    </div>
    <div class="answer__body">
      <div class="answer__text">
        <p v-if="!edit">{{ answer.text }}</p>
        <textarea v-else v-model="editedAnswer"></textarea>
      </div>
      <div class="answer__status-edit">
        <div class="answer__status">
          <Status
            :status="answer.status"
            :questionId="questionId"
            :answerId="answer.id"
          ></Status>
        </div>
        <EditButtons
          v-if="user.isAdmin || user.id === answer.author.id"
          :edit="edit"
          :remove="remove"
          :startEdit="startEdit"
          :removeDialog="removeDialog"
          :saveAction="editAnswer"
          :deleteAction="deleteAnswer"
        ></EditButtons>
      </div>
    </div>
  </div>
</template>

<script>
import Profile from "./profileComponent";
import Status from "./status";
import EditButtons from "./editButtons";

import { mapActions, mapState } from "vuex";

export default {
  name: "answer-component",
  data: function() {
    return {
      edit: false,
      editedAnswer: "",
      remove: false
    };
  },
  computed: {
    ...mapState({
      user: state => state.user
    })
  },
  components: { Profile, Status, EditButtons },
  props: {
    answer: {
      id: String,
      author: {
        id: String,
        name: String,
        avatar: String
      },
      text: String,
      status: Number,
      created: String,
      updated: String
    },
    questionId: String
  },
  methods: {
    ...mapActions("question", ["updateAnswer", "removeAnswer"]),
    startEdit(bool) {
      this.edit = bool;
      this.editedAnswer = this.answer.text;

      if (!bool) this.$store.dispatch("question/loadAnswers", this.questionId);
    },
    editAnswer() {
      this.updateAnswer({
        text: this.editedAnswer,
        questionId: this.questionId,
        answerId: this.answer.id
      });
      this.edit = false;
    },
    removeDialog(bool) {
      this.remove = bool;
    },
    deleteAnswer() {
      this.removeAnswer({
        questionId: this.questionId,
        answerId: this.answer.id
      });

      this.remove = false;
    }
  }
};
</script>

<style lang="scss">
.answer {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  display: flex;
  width: 80%;
  min-height: 25rem;
  background-color: white;
  border-left: 0.5rem solid black;

  @media only screen and (max-width: 600px) {
    flex-direction: column;
    min-height: unset;
    margin: 0;
    align-self: center;
    width: 100%;
    border-left: 0;
  }

  &__author-date {
    width: 27rem;

    display: flex;
    flex-direction: column;
    background-color: #e5e5e5;

    @media only screen and (max-width: 600px) {
      width: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }

  &__author-profile {
    flex: 1;
    margin: 3rem;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    @media only screen and (max-width: 600px) {
      margin: 1rem;
    }
  }

  &__body {
    flex: 3;

    display: flex;
    flex-direction: column;
    background-color: white;
  }

  &__date {
    flex: 1;
    align-items: flex-end;
    justify-content: center;
    margin: 1rem;
    font-weight: 200;
    font-size: 2rem;

    @media only screen and (max-width: 600px) {
      margin: 0;
      font-size: 1.5rem;
    }
  }

  &__text {
    flex: 2;
    display: flex;
    flex-direction: column;
    text-align: left;

    > textarea {
      height: 100%;

      font-weight: 200;
      font-size: 2rem;
    }

    margin: 2rem 3rem 0 5rem;
  }

  &__status-edit {
    flex: 1;
    display: flex;
    min-height: 10rem;
    align-items: center;
  }

  &__status {
    flex: 1;
    margin-left: 5rem;
  }
}
</style>
