<template>
  <div>
    <div v-if="!isLoading" class="category__image" v-bind:style="cssVars">
      <router-link
        v-if="enabled"
        :to="{ name: 'categories', params: { cat } }"
        >{{ cat }}</router-link
      >
      <a v-else>{{ cat }} {{ choosed ? "✅" : "" }}</a>
    </div>
    <div v-if="isLoading" class="category_loading"></div>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  props: ["cat", "enabled", "choosed"],
  computed: {
    cssVars() {
      const src = require(`../assets/categories/${this.$props.cat}.jpeg`);
      return {
        "--image": `url(${src})`
      };
    },
    ...mapState({
      isLoading: state => state.isLoading
    })
  }
};
</script>

<style lang="scss">
.category__image {
  height: 4rem;
  width: 15rem;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(179, 117, 117, 0.4)),
    var(--image);

  @media only screen and (max-width: 600px) {
    height: 4rem;
    width: 10rem;
  }

  background-size: cover;
  margin: 1rem;

  border: 0.05rem solid #000000;
  box-sizing: border-box;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 200;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.category_loading {
  height: 4rem;
  width: 15rem;
  animation: pulse 1s infinite ease-in-out;
}
</style>
