<template>
  <div>
    <div class="edit-buttons">
      <StyledButton
        v-if="!edit && !remove"
        @click.native="startEdit(true)"
        mode="white"
        :text="$t('buttons.edit')"
      ></StyledButton>
      <StyledButton
        v-if="edit"
        @click.native="saveAction()"
        mode="white"
        :text="$t('buttons.save')"
      ></StyledButton>
      <StyledButton
        v-if="edit"
        @click.native="startEdit(false)"
        mode="red"
        :text="$t('buttons.cancel')"
      ></StyledButton>
      <StyledButton
        v-if="!edit && !remove"
        @click.native="removeDialog(true)"
        mode="grey"
        :text="$t('buttons.delete')"
      ></StyledButton>
      <StyledButton
        v-if="remove"
        @click.native="deleteAction(true)"
        mode="red"
        :text="$t('buttons.delete')"
      ></StyledButton>
      <StyledButton
        v-if="remove"
        @click.native="removeDialog(false)"
        mode="grey"
        :text="$t('buttons.cancel')"
      ></StyledButton>
    </div>
  </div>
</template>

<script>
import StyledButton from "./shared/StyledButton";

export default {
  props: [
    "edit",
    "remove",
    "startEdit",
    "removeDialog",
    "saveAction",
    "deleteAction"
  ],
  components: { StyledButton }
};
</script>

<style lang="scss">
.edit-buttons {
  display: flex;
  margin: 1rem 3rem 1rem 1rem;
  align-content: center;
  justify-content: center;
}
</style>
