<template>
  <div class="feed">
    <Toggle
      v-if="items.length"
      class="feed__toggle"
      :changeSorting="changeSorting"
      :byRating="byRating"
    ></Toggle>

    <MainText
      class="feed__head"
      v-if="!this.$props.author && this.$props.category"
      size="2rem"
      :loadingLines="2"
      :value="this.$props.category"
    >
    </MainText>

    <div
      v-if="!isLoading && items.length === 0 && !author"
      class="feed__placeholder-wrapper"
    >
      <div class="feed__placeholder">
        <span class="feed__placeholder-text">There is no questions yet.</span>
        <br />
        <br />
        <span
          class="feed__placeholder-text-ask"
          @click="username ? setShowAskModal(true) : setShowLoginModal(true)"
          style="text-decoration: underline"
          >Ask some.</span
        >
      </div>
    </div>
    <div v-if="!isLoading && items.length" class="questions-feed">
      <Question
        :key="item.id"
        v-for="item in items"
        :id="item.id"
        :header="item.header"
        :date="item.created"
        :status="item.status"
        :image="item.image"
        :username="item.name"
        :author="item.author"
      ></Question>
      <div
        v-if="items.length && items.length > 10 && items.length < questionCount"
        @click="loadMore"
        class="questions-feed__next-page"
      >
        <a class="questions-feed__next-page-button">
          {{ $t("feed.loadMore") }}
        </a>
      </div>
    </div>
    <div v-if="isLoading" class="questions-feed">
      <div
        v-for="i in 8"
        :key="i"
        class="questions-feed__loading-placeholder"
      ></div>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";
import Question from "@/components/questionCard.vue";
import Toggle from "@/components/shared/Toggle.vue";
import MainText from "@/components/shared/MainText.vue";

export default {
  name: "feed",
  data() {
    return {
      byRating: false
    };
  },
  components: { Question, MainText, Toggle },
  props: ["author", "category", "personal", "title"],
  watch: {
    $props(to) {
      if (this.$props.personal) {
        this.$store.dispatch("feed/loadPersonalFeed", {
          byRating: this.byRating
        });
      } else {
        this.$store.dispatch("feed/loadQuestions", {
          author: to.author,
          category: to.category,
          byRating: this.byRating
        });
      }
    },
    category(to) {
      if (to) {
        this.$store.dispatch("feed/loadQuestions", {
          author: this.author,
          category: to,
          byRating: this.byRating
        });
      }
    },
    author(to) {
      if (to) {
        this.$store.dispatch("feed/loadQuestions", {
          author: to,
          category: this.category,
          byRating: this.byRating
        });
      }
    },
    personal(to) {
      if (to) {
        this.$store.dispatch("feed/loadPersonalFeed", {
          sortBy: this.byRating,
          reset: true
        });
      }
    }
  },
  computed: {
    ...mapState({
      items: state => state.feed.items,
      questionCount: state => state.feed.questionCount,
      perPage: state => state.feed.perPage,
      isLoading: state => state.isLoading,
      username: state => state.user.name
    })
  },
  methods: {
    ...mapMutations(["setShowLoginModal", "setShowAskModal"]),
    ...mapActions("feed", ["loadQuestions"]),
    loadMore: async function() {
      await this.$store.dispatch("feed/loadQuestions", {
        author: this.author,
        category: this.category,
        byStatus: this.byRating
      });
    },
    changeSorting: function() {
      window.scrollBy({ top: -document.body.scrollHeight, behavior: "smooth" });
      this.byRating = !this.byRating;

      if (this.personal) {
        this.$store.dispatch("feed/loadPersonalFeed", {
          byStatus: this.byRating,
          reset: true
        });
      } else {
        this.$store.dispatch("feed/loadQuestions", {
          author: this.author,
          category: this.category,
          byStatus: this.byRating,
          reset: true
        });
      }
    }
  },
  mounted() {
    if (this.$props.personal) {
      this.$store.dispatch("feed/loadPersonalFeed", {
        byStatus: this.byRating,
        reset: true
      });
    } else {
      this.$store.dispatch("feed/loadQuestions", {
        author: this.$props.author,
        category: this.$props.category,
        sortBy: this.byRating,
        reset: true
      });
    }
  }
};
</script>

<style lang="scss">
.questions-feed {
  background-color: #c4c4c4;
  display: grid;
  grid-template-columns: repeat(auto-fill, 40rem);
  grid-gap: 2rem;
  grid-auto-rows: 1fr;

  justify-content: center;

  margin: 0 2% 0 2%;

  @media only screen and (max-width: 1040px) {
    grid-template-columns: 1fr 1fr;
  }

  @media only screen and (max-width: 600px) {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }

  > div {
    margin: 2%;
    @media only screen and (max-width: 600px) {
      margin: 0;
    }
  }

  &__next-page {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.2rem;

    color: white;
    font-weight: 300;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));

    @media only screen and (max-width: 600px) {
      width: 100%;
    }

    :hover {
      > a {
        color: black;
      }
    }
  }

  &__next-page-icon {
    width: 5rem;
  }

  &__loading-placeholder {
    min-width: 30rem;
    min-height: 15rem;
    animation: pulse 1s infinite ease-in-out;
  }
}

.feed {
  width: 100%;
  position: relative;

  &__toggle {
    position: fixed;
    right: 10%;
    transform: translateY(1rem);
    @media only screen and (max-width: 600px) {
      transform: translateY(0);
      right: 0;
    }

    z-index: 1;
  }

  &__head {
    flex: 2;
    color: black;
    text-transform: uppercase;
    font-size: 2rem;
  }

  &__placeholder {
    font-size: 5rem;
    width: 28rem;
    height: 28rem;
    background-color: black;
    text-align: center;
    border-radius: 30px;
    text-align: left;
    padding: 3rem;
    border: 0.5rem solid white;
    animation: border-pulsate 10s infinite ease-in-out;
  }

  &__placeholder-text {
    color: white;
    font-weight: 200;

    &-ask {
      color: white;
      font-weight: 200;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__placeholder-wrapper {
    display: flex;
    justify-content: center;
    margin: 5rem;
  }
}

@keyframes border-pulsate {
  0% {
    border-color: rgba(255, 255, 255, 1);
  }
  50% {
    border-color: rgba(255, 255, 255, 0);
  }
  100% {
    border-color: rgba(255, 255, 255, 1);
  }
}
</style>
