<template>
  <footer class="footer">
    <div class="footer__links">
      <router-link :to="{ name: 'policy' }">{{
        $t("footer.policy")
      }}</router-link>
      <router-link :to="{ name: 'rules' }">{{
        $t("footer.rules")
      }}</router-link>
    </div>
    <div class="footer__contact">
      <a href="mailto:contact@ozo.cz">contact@ozo.cz</a>
      <div class="footer__lang-select">
        <svg class="footer__language" viewBox="0 0 50 50">
          <rect fill="none" height="50" width="50" />
          <circle
            cx="25"
            cy="25"
            fill="none"
            r="24"
            stroke="#ffffff"
            stroke-linecap="round"
            stroke-miterlimit="10"
            stroke-width="2"
          />
          <ellipse
            cx="25"
            cy="25"
            fill="none"
            rx="12"
            ry="24"
            stroke="#ffffff"
            stroke-linecap="round"
            stroke-miterlimit="10"
            stroke-width="2"
          />
          <path
            d="M6.365,40.438C10.766,37.729,17.479,36,25,36  c7.418,0,14.049,1.682,18.451,4.325"
            fill="none"
            stroke="#ffffff"
            stroke-miterlimit="10"
            stroke-width="2"
          />
          <path
            d="M43.635,9.563C39.234,12.271,32.521,14,25,14  c-7.417,0-14.049-1.682-18.451-4.325"
            fill="none"
            stroke="#ffffff"
            stroke-miterlimit="10"
            stroke-width="2"
          />
          <line
            fill="none"
            stroke="#ffffff"
            stroke-miterlimit="10"
            stroke-width="2"
            x1="1"
            x2="49"
            y1="25"
            y2="25"
          />
          <line
            fill="none"
            stroke="#ffffff"
            stroke-miterlimit="10"
            stroke-width="2"
            x1="25"
            x2="25"
            y1="1"
            y2="49"
          />
        </svg>
        <div class="footer__lang-dropdown-list dropdown">
          <ul>
            <li>
              <a @click="changeLanguage('en')">English</a>
            </li>
            <li>
              <a @click="changeLanguage('cz')">Czech</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
import { mapActions } from "vuex";

export default {
  methods: {
    ...mapActions(["changeLanguage"])
  }
};
</script>

<style lang="scss">
.footer {
  z-index: 1;
  bottom: 0;
  width: 100%;
  background-color: #343a40;
  color: white;
  display: flex;
  flex: 0 1 auto;

  &__links {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: baseline;

    > a {
      font-size: 1.2rem;
      margin: 3rem;
      :hover {
        cursor: pointer;
      }
    }
  }

  &__language {
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
    color: white;
  }

  &__lang-dropdown-list {
    position: absolute;
    visibility: hidden;
    top: -6.5rem;
    left: -1.5rem;
    opacity: 0;
    transition: visibility 200ms linear, opacity 200ms linear;
    font-size: 1.4rem;
  }

  &__lang-select {
    padding: 3rem 1.5rem 3rem 1.5rem;
    position: relative;
    font-size: 1.4rem;
    color: #ffffff;
    text-transform: uppercase;
  }

  &__lang-select:hover &__lang-dropdown-list {
    visibility: visible;

    opacity: 1;
    > a {
      padding: 0.5rem;
    }
  }

  &__contact {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;

    > a {
      font-size: 1.2rem;
      margin: 3rem;
      :hover {
        cursor: pointer;
      }
    }
  }
}
</style>
