<template>
  <transition name="modal">
    <div class="ask__mask">
      <div class="ask__wrapper">
        <div
          class="ask__container"
          v-on-clickaway="() => setShowAskModal(false)"
        >
          <div class="ask__top-bar">
            <h1 class="ask__header">{{ $t("general.ask") }}</h1>
            <input
              class="ask__close"
              @click="setShowAskModal(false)"
              value="✕"
              type="button"
            />
          </div>
          <div class="ask__form-wrapper">
            <QuestionForm :question="{}"></QuestionForm>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import { mapMutations } from "vuex";
import QuestionForm from "../components/questionForm";
import { mixin as clickaway } from "vue-clickaway";

export default {
  data: function() {
    return {};
  },
  mixins: [clickaway],
  methods: {
    ...mapMutations(["setShowAskModal"])
  },
  components: { QuestionForm }
};
</script>

<style lang="scss">
input,
textarea {
  padding: 1rem;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 1.6rem;
  resize: none;
}

.ask {
  &__mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    display: flex;
    align-items: center;

    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    color: black;
  }

  &__wrapper {
    vertical-align: middle;
    display: table-cell;
  }

  &__top-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
  }

  &__header {
    margin-left: 1rem;
    font-size: 2rem;
    font-weight: 400;
  }

  &__close {
    color: white;
    font-size: 3rem;

    width: fit-content;
    align-self: flex-end;

    background: none;

    border: 0;

    :hover {
      cursor: pointer;
    }

    @media only screen and (max-width: 600px) {
      position: absolute;
      right: 1.1rem;
    }
  }

  &__warning {
    color: red;
    font-size: 1.2rem;
  }

  &__form-wrapper {
    padding: 1rem;
  }

  &__container {
    width: 105rem;

    margin: 0px auto;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.2s ease;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 600px) {
      width: unset;
    }
  }
}
</style>
