<template>
  <transition name="modal">
    <div class="login__mask">
      <div class="login__wrapper">
        <div
          class="login__container"
          v-on-clickaway="() => setShowLoginModal(false)"
        >
          <div class="ask__top-bar">
            <h1 class="ask__header">{{ $t("login.login") }}</h1>
            <input
              class="ask__close"
              @click="setShowLoginModal(false)"
              value="✕"
              type="button"
            />
          </div>
          <div class="login__content">
            <div class="login__header">
              <Logo class="login__logo" />
              <h3>{{ $t("login.welcome") }}</h3>
            </div>

            <div class="login__body">
              <h1>{{ $t("login.loginWith") }}</h1>
              <img
                @click="googleAuth()"
                class="login__button-img"
                src="../assets/google.png"
              />
              <img
                @click="facebookAuth()"
                class="login__button-img"
                src="../assets/facebook.png"
              />
            </div>

            <div class="login__footer">
              <p>{{ $t("login.loginRules") }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import Logo from "./shared/Logo";
import { mapMutations } from "vuex";
import { mixin as clickaway } from "vue-clickaway";
import { apiUrl, loginRedirectUrl } from "./../constants/urls";

export default {
  mixins: [clickaway],
  components: { Logo },
  methods: {
    ...mapMutations(["setShowLoginModal"]),
    googleAuth() {
      window.location = `${apiUrl}/auth/google/redirect?returnUrl=${loginRedirectUrl}`;
    },
    facebookAuth() {
      window.location = `${apiUrl}/auth/facebook/redirect?returnUrl=${loginRedirectUrl}`;
    }
  }
};
</script>

<style lang="scss">
.login__mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  display: flex;
  align-items: center;

  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  color: black;
}

.login__logo {
  height: 15rem;
  width: 15rem;
}

.login__button-img {
  height: 10rem;
  width: 10rem;
  animation: none;
}

.login__button-img:hover {
  cursor: pointer;
}

.login__wrapper {
  vertical-align: middle;
  display: table-cell;

  @media only screen and (max-width: 600px) {
    display: block;

    width: 100%;
  }
}

.login__content {
  padding: 2rem;
}

.login__container {
  width: 44rem;
  margin: 0px auto;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (max-width: 600px) {
    align-items: center;
    width: 100%;
    padding: 3rem 0;
  }
}

.login__header {
  flex: 2;

  display: flex;
  flex-direction: column;
  align-items: center;

  > h3 {
    font-weight: 200;
    font-size: 3.2rem;
  }
}

.login__body {
  margin: 1rem 0;
  flex: 1;
  > h1 {
    font-weight: 200;
  }
  align-self: center;
}

.login__default-button {
  float: right;
}

.login__enter {
  opacity: 0;
}

.login__leave-active {
  opacity: 0;
}

.login__footer {
  flex: 1;
  align-self: center;
}

.login__enter .login__container,
.login__leave-active .login__container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>
