<template>
  <div class="nav-bar">
    <Logo class="nav-bar__logo"></Logo>
    <div class="nav-bar__logo-and-navigation">
      <div class="nav-bar__navigation">
        <router-link
          v-if="username"
          class="nav-bar__button"
          v-bind:class="
            (isActiveLink('personalFeed') || isActiveLink('main')) &&
              'nav-bar__active-nav'
          "
          :to="{ name: 'personalFeed' }"
          >{{ $t("navbar.personalFeed") }}</router-link
        >
        <router-link
          class="nav-bar__button"
          v-bind:class="isActiveLink('questions') && 'nav-bar__active-nav'"
          :to="{ name: 'questions' }"
          >{{ $t("navbar.questions") }}</router-link
        >
        <router-link
          class="nav-bar__button"
          v-bind:class="isActiveLink('categories') && 'nav-bar__active-nav'"
          :to="{ name: 'categories', params: { cat: 'all' } }"
          >{{ $t("navbar.categories") }}</router-link
        >
      </div>

      <a
        v-if="username"
        class="nav-bar__ask-button mr-4"
        @click="username ? setShowAskModal(true) : setShowLoginModal(true)"
      >
        {{ $t("general.ask") }}
      </a>

      <div class="nav-bar__user-select">
        <img
          v-if="token"
          class="nav-bar__avatar profile__avatar"
          :src="avatar"
        />
        <div v-if="token" class="dropdown nav-bar__user-dropdown">
          <ul>
            <li>
              <router-link
                v-if="this.$store.state.token && id"
                :to="{
                  name: 'profile',
                  params: { id }
                }"
                >{{ $t("navbar.profile") }}</router-link
              >
            </li>
            <li>
              <a @click="this.logout">{{ $t("navbar.signout") }}</a>
            </li>
          </ul>
        </div>
        <a @click="setShowLoginModal(true)" v-else>{{ $t("buttons.login") }}</a>
      </div>
    </div>

    <div id="menuToggle">
      <input @click="showMenu = !showMenu" type="checkbox" v-model="showMenu" />
      <span></span>
      <span></span>
      <span></span>

      <ul @click="showMenu = false" class="nav-bar__mobile-menu">
        <li v-if="!token">
          <a
            @click="
              setShowLoginModal(true);
              showMenu = false;
            "
            >{{ $t("buttons.login") }}</a
          >
        </li>
        <li>
          <router-link @click="showMenu = false" :to="{ name: 'questions' }">{{
            $t("navbar.questions")
          }}</router-link>
        </li>
        <li>
          <router-link
            @click="showMenu = false"
            :to="{ name: 'categories', params: { cat: 'all' } }"
            >{{ $t("navbar.categories") }}</router-link
          >
        </li>
        <li v-if="token">
          <router-link
            v-if="id"
            @click="showMenu = false"
            :to="{ name: 'profile', params: { id } }"
            >{{ $t("navbar.profile") }}</router-link
          >
        </li>
        <li v-if="username">
          <a @click="this.logout">{{ $t("navbar.signout") }}</a>
        </li>
        <li v-if="username">
          <a
            @click="
              setShowAskModal(true);
              showMenu = false;
            "
            >{{ $t("general.ask") }}</a
          >
        </li>
        <li v-if="!username">
          <a
            @click="
              setShowLoginModal(true);
              showMenu = false;
            "
            >{{ $t("login.login") }}</a
          >
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";
import Logo from "./shared/Logo";
import categories from "../constants/categories.json";

const cats = categories.map(x => x.category);

export default {
  name: "navBar",
  data: function() {
    return {
      categories: cats,
      showMenu: false
    };
  },
  computed: {
    ...mapState({
      username: state => state.user.name,
      avatar: state => state.user.avatar,
      id: state => state.user.id,
      token: state => state.token
    })
  },
  components: { Logo },
  methods: {
    ...mapActions(["logout"]),
    ...mapMutations(["setShowLoginModal", "setShowAskModal"]),
    isActiveLink: function(name) {
      return this.$route.name === name;
    }
  },
  mounted() {
    this.showMenu = false;
  }
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css?family=Geostar&display=swap");

.nav-bar {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #ffffff;
  background: #343a40;
  display: flex;
  flex: 0 1 auto;

  @media only screen and (max-width: 600px) {
    align-items: stretch;
  }

  &__logo-and-navigation {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @media only screen and (max-width: 600px) {
      display: none;
    }
  }

  &__logo {
    width: 7.5rem;
    height: 7.5rem;

    @media only screen and (max-width: 600px) {
      width: 5rem;
      height: 5rem;
    }
  }

  &__navigation {
    display: flex;
    align-items: center;

    @media only screen and (max-width: 600px) {
      display: none;
    }

    > a {
      color: #ffffff;
      flex: 1;
      margin: 1rem;
    }
  }

  &__button {
    color: #ffffff;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
  }

  &__user-select {
    padding: 0 2rem;
  }

  &__user-select:hover &__user-dropdown {
    visibility: visible;
    opacity: 1;
    > a {
      padding: 0.5rem;
    }
  }

  &__user-dropdown {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: visibility 200ms linear, opacity 200ms linear;
  }

  &__avatar {
    height: 7.5rem;
    width: 7.5rem;
  }

  &__active-nav {
    background: #000000;
    border-radius: 0.5rem;
    border-color: #000000;
    color: #ffffff;
    padding: 0.5rem 1.5rem;
    border-bottom: 2px solid #ffffff;

    :hover {
      color: darkgrey;
    }
  }

  &__ask-button {
    font-size: 1.4rem;
    margin-left: 1rem;
    background: #000000;
    border-radius: 5px;
    color: #ffffff;
    padding: 0.5rem 1.5rem;
    text-transform: uppercase;
    border: 0;

    @media only screen and (max-width: 600px) {
      align-self: center;
    }
  }

  &__mobile-menu {
    position: absolute;
    top: 0%;
    width: 100%;
    left: 10%;
    margin: 0 0 0 -10%;
    padding: 25px 0;
    background-color: #f5f6fa;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

    > li {
      padding: 10px 0;
      transition-delay: 2s;
      > a {
        color: black;
      }
    }
  }

  &__mobile-menu li {
    padding: 10px 0;
    transition-delay: 2s;
  }
}

#menuToggle input:checked ~ ul {
  transform: none;
}

#menuToggle input:not(:checked) ~ ul {
  transform: translate(-100%, 0);
}

#menuToggle {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 2;

  -webkit-user-select: none;
  user-select: none;
  align-self: center;
  justify-items: flex-end;
  margin: 2rem 1rem 1rem 1rem;

  @media only screen and (min-width: 600px) {
    display: none;
  }
}

#menuToggle input {
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle span {
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: #36383f;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
</style>
