<template>
  <div class="profile">
    <img v-if="!isLoading" class="profile__avatar" :src="avatar" />
    <div v-if="isLoading" class="profile__avatar"></div>
    <router-link
      v-if="!isLoading && id"
      class="profile__name"
      :to="{ name: 'profile', params: { id } }"
      >{{ name }}</router-link
    >
    <p v-if="isLoading" class="profile__name">{{ $t("general.loading") }}</p>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "profile-component",
  computed: {
    ...mapState({
      isLoading: state => state.isLoading
    })
  },
  props: {
    name: String,
    avatar: String,
    id: String
  }
};
</script>

<style lang="scss">
.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem;

  @media only screen and (max-width: 600px) {
    width: 100%;
  }

  background-color: #e5e5e5;

  &__avatar {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-color: grey;
    animation: pulse 1s infinite ease-in-out;

    @media only screen and (max-width: 600px) {
      height: 4rem;
      width: 4rem;
    }
  }

  &__name {
    margin: 0 0 0 0.5rem;
    flex: 1;
    color: black;
    font-weight: normal;
    font-size: 2rem;

    @media only screen and (max-width: 600px) {
      font-size: 1.8rem;
    }
  }
}
</style>
