<template>
  <div class="questionForm__container">
    <input
      v-model="header"
      class="questionForm__header"
      placeholder="Header of the question.."
    />
    <label
      class="questionForm__warning"
      v-if="validate && (!header || header.length > 120 || header.length < 5)"
      >{{ $t("ask.badHeader") }}</label
    >
    <div class="questionForm__image-and-cats">
      <div class="questionForm__image">
        <input
          class="questionForm__image-input"
          type="file"
          name="file"
          id="file"
          ref="file"
          v-on:change="handleFileUpload()"
        />
        <div class="questionForm__image-input-div">
          <label
            v-if="!image"
            for="file"
            class="questionForm__image-input-label"
            >{{ $t("ask.chooseImage") }}</label
          >
          <label v-if="image" for="file">{{ image.name }}</label>
          <label
            v-if="image"
            class="questionForm__image-input-label"
            @click="removeImage"
            >{{ $t("ask.removeImage") }}</label
          >
          <label
            class="questionForm__warning"
            v-if="validate && image && !validateImage()"
            >{{ $t("ask.badImage") }}</label
          >
        </div>
      </div>
      <div class="questionForm__categories">
        <div
          class="questionForm__cat"
          @click="addCategory(category)"
          :key="category"
          v-for="category in categories"
        >
          <Category
            :cat="category"
            :choosed="cats && cats.includes(category)"
          ></Category>
        </div>
      </div>
    </div>
    <textarea
      v-model="text"
      rows="6"
      class="questionForm__text"
      placeholder="Full text of the question.."
    ></textarea>
    <label
      class="questionForm__warning"
      v-if="validate && (!text || text.length > 1000 || text.length < 10)"
      >{{ $t("ask.badDescription") }}</label
    >
    <div class="questionForm__send">
      <StyledButton
        v-if="!edit"
        @click.native="buildAndSendQuestion()"
        :text="$t('buttons.send')"
        mode="white"
      ></StyledButton>
    </div>
  </div>
</template>
<script>
import { mapMutations, mapActions } from "vuex";
import Category from "./category";
import StyledButton from "./shared/StyledButton";
import categories from "../constants/categories.json";
import joi from "@hapi/joi";

function initialState(question) {
  if (question && question.header) {
    return {
      categories,
      header: question.header,
      image: "",
      cats: question.categories || [],
      text: question.description,
      file: "",
      validate: false,
      background: "rgba(0, 0, 0, 0.5);"
    };
  } else {
    return {
      categories,
      header: "",
      image: "",
      cats: [],
      text: "",
      file: "",
      validate: false,
      background: "rgba(0, 0, 0, 0.5);"
    };
  }
}

export default {
  data: function() {
    return initialState(this.question);
  },
  props: ["question", "edit", "startEdit"],
  components: { Category, StyledButton },
  methods: {
    ...mapMutations(["setShowAskModal"]),
    ...mapActions(["sendQuestion", "uploadImage"]),
    ...mapActions("question", ["updateQuestion"]),
    addCategory(cat) {
      if (!this.cats.includes(cat)) {
        this.cats.push(cat);
        this.background =
          "radial-gradient(circle, rgba(0,255,117,1) 45%, rgba(0,255,31,0) 100%);";
      } else {
        const index = this.cats.indexOf(cat);
        if (index > -1) {
          this.cats.splice(index, 1);
        }
      }
    },
    buildAndSendQuestion: async function() {
      const question = {};

      if (this.header) question.header = this.header;
      if (this.image) question.image = this.image;
      if (this.cats) question.categories = this.cats;
      if (this.text) question.description = this.text;
      if (!this.edit && !this.cats) question.categories = [];

      const { error } = joi.validate(question, {
        header: joi
          .string()
          .required()
          .min(5)
          .max(120),
        image: joi.any(),
        categories: joi.array(),
        description: joi
          .string()
          .required()
          .max(1000)
      });

      if (error || !this.validateImage()) {
        this.validate = true;
        return false;
      } else {
        if (question.image) {
          const formData = new FormData();
          formData.append("image", this.image);

          const imageId = await this.uploadImage({
            formData
          });
          question.image = imageId;
        }

        if (this.edit) {
          await this.updateQuestion({ question, id: this.question.id });

          this.startEdit(false);
        } else {
          await this.sendQuestion(question);
          Object.assign(this.$data, initialState());
          this.setShowAskModal(false);
        }

        return true;
      }
    },
    validateImage() {
      const image = this.$refs.file.files[0];
      const allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;
      if (!image || allowedExtensions.exec(image.name)) {
        return true;
      }
      return false;
    },
    handleFileUpload() {
      const width = 700;

      const fileName = this.$refs.file.files[0].name;

      const reader = new FileReader();

      reader.readAsDataURL(this.$refs.file.files[0]);
      reader.onload = event => {
        const img = new Image();
        img.src = event.target.result;
        (img.onload = () => {
          const elem = document.createElement("canvas");
          const scaleFactor = width / img.width;

          elem.width = width;
          elem.height = img.height * scaleFactor;

          const ctx = elem.getContext("2d");

          ctx.drawImage(img, 0, 0, width, img.height * scaleFactor);

          ctx.canvas.toBlob(
            blob => {
              const file = new File([blob], fileName, {
                type: "image/jpeg",
                lastModified: Date.now()
              });
              this.image = file;
            },
            "image/jpeg",
            1 // quality of the compression
          );
        }),
          (reader.onerror = error => console.log(error));
      };
    },
    removeImage: function() {
      this.image = "";
    }
  },
  computed: {
    computedCss(bool) {
      if (bool) {
        return "radial-gradient(circle, rgba(0,255,117,1) 45%, rgba(0,255,31,0) 100%);";
      } else return 0;
    }
  }
};
</script>

<style lang="scss">
input,
textarea {
  padding: 1rem;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 1.6rem;
  resize: none;
}

.questionForm {
  &__container {
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 600px) {
      width: unset;
    }
  }

  &__header {
    flex: 0.5;
    margin: 1rem;
  }

  &__image {
    flex: 0.85;
    margin: 1rem;
  }

  &__image-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  &__image-input-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 1px solid #000000;
    border-radius: 0.5rem;
    border-color: #000000;

    > label {
      font-size: 1.6rem;
      font-weight: 300;
      margin: 0.5rem;
    }

    :hover {
      cursor: pointer;
      color: gray;
    }

    :focus {
      outline: 1px dotted #000;
      outline: -webkit-focus-ring-color auto 5px;
    }
  }

  &__image-and-cats {
    display: flex;
    flex-direction: row;
  }

  &__categories {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: flex-end;
    @media only screen and (max-width: 600px) {
      margin: 0.3rem;
    }
  }

  &__text {
    flex: 5;
    margin: 1rem;
  }

  &__cat {
    display: flex;
    > p {
      font-size: 1.6rem;
    }
  }

  &__send {
    align-self: flex-end;
  }

  &__warning {
    font-size: 1rem;
    color: orangered;
  }
}
</style>
