<template>
  <div class="question-card" :style="cssVars">
    <div class="question-card__user">
      <router-link :to="{ name: 'profile', params: { id: author.id } }">
        {{ author.name }}
      </router-link>
    </div>
    <div class="question-card__header">
      <router-link :to="{ name: 'question', params: { id } }">
        {{ header }}
      </router-link>
    </div>
    <div class="question-card__info">
      <div class="question-card__status">
        <div class="question-card__status-block">
          <p class="question-card__status-value">{{ status }}</p>
          <div class="question-card__status-image">
            <svg
              class="question-card__status-svg"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill="none"
                stroke="#ffffff"
                stroke-width="0.5"
                :d="getWave()"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="question-card__date">
        <p>{{ new Date(date).toLocaleDateString() }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import { apiUrl } from "../constants/urls";

export default {
  name: "question-card",
  props: {
    id: String,
    author: {
      name: String,
      id: String,
      avatar: String
    },
    image: String,
    header: String,
    status: Number,
    date: String
  },
  computed: {
    statusValue: {
      get() {
        const status = this.$props.status;

        const calculatedStatus = status.plus.length - status.minus.length;
        return calculatedStatus;
      }
    },
    cssVars() {
      const image = this.$props.image
        ? `url(${apiUrl}/img/${this.$props.image}`
        : "gray";

      return {
        "--image": image
      };
    }
  },
  methods: {
    buildWave: function(w, h) {
      const m = 0.512286623256592433;

      let pathData = [
        "M",
        0,
        h * 0.625, // start point for svg center + half of the amplitude
        "c",
        0.35 * h * m,
        0, //dx1 dy1  control point for the start. c - curve
        0.35 * h * (1 - m),
        -0.25 * h, //dx2 dy2 control point for the end; up in svg is negative
        0.35 * h,
        -0.25 * h, //dx dy the end point
        "s",
        0.35 * h * (1 - m),
        0.25 * h,
        0.35 * h,
        0.25 * h,
        "s",
        0.35 * h * (1 - m),
        -0.25 * h,
        0.35 * h,
        -0.25 * h, //up
        "s",
        0.35 * h * (1 - m),
        0.25 * h,
        0.35 * h,
        0.25 * h, //down
        "s",
        0.35 * h * (1 - m),
        -0.25 * h,
        0.35 * h,
        -0.25 * h, //up
        "s",
        0.35 * h * (1 - m),
        0.25 * h,
        0.35 * h,
        0.25 * h, //down
        "s",
        0.35 * h * (1 - m),
        -0.25 * h,
        0.35 * h,
        -0.25 * h, //up
        "s",
        0.35 * h * (1 - m),
        0.25 * h,
        0.35 * h,
        0.25 * h, //down
        "s",
        0.35 * h * (1 - m),
        -0.25 * h,
        0.35 * h,
        -0.25 * h, //up
        "s",
        0.35 * h * (1 - m),
        0.25 * h,
        0.35 * h,
        0.25 * h //down
      ].join(" ");

      return pathData;
    },
    getWave: function() {
      if (window.screen.width > 600) {
        return this.buildWave(300, 30);
      } else return this.buildWave(300, 23);
    }
  }
};
</script>

<style lang="scss">
a {
  color: white;
}

.question-card {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: 1.6rem;
  font-weight: 200;
  color: white;
  padding: 3rem 0;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    var(--image);
  background-size: cover;
  max-height: 50rem;

  @media only screen and (max-width: 600px) {
    width: 100%;
  }

  > div {
    margin-right: 10%;
    margin-left: 10%;
  }

  &__user {
    flex: 1;
    display: flex;
    align-items: center;
  }

  &__header {
    flex: 2;
    font-size: 3.2rem;
    font-weight: 300;
    text-align: left;
    word-wrap: break-word;
  }

  &__info {
    font-size: 1.2rem;
    flex: 0.5;
    display: flex;
  }
  &__status-block {
    flex: 1;
  }
  &__status {
    justify-content: baseline;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__status-value {
    flex: 1;
    margin: 0;
  }

  &__status-image {
    overflow: hidden;
    width: 2rem;
    height: 2rem;
    flex: 1;
  }

  &__status-svg {
    width: 20rem;
    height: 2rem;
    transform: translateX(-26px);
    @media only screen and (max-width: 600px) {
      transform: translateX(-20px);
    }
  }

  &__date {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
}
</style>
