<template>
  <div class="status">
    <a v-if="!hideButtons" class="status__vote" @click="votePlus()">+</a>
    <div class="status__state">
      <a class="status__value">{{ status }}</a>
      <div class="status__wave-div">
        <svg
          class="status__wave"
          v-bind:class="clicked && 'status__wave-active'"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path fill="none" stroke="#262626" stroke-width="2" :d="getWave()" />
        </svg>
      </div>
    </div>
    <a v-if="!hideButtons" class="status__vote" @click="voteMinus()">−</a>
  </div>
</template>

<script>
import { mapActions, mapMutations } from "vuex";

export default {
  data: function() {
    return { clicked: false };
  },
  name: "status",
  props: {
    questionId: String,
    answerId: {
      validator: function(val) {
        return val === null || typeof val === "string";
      }
    },
    hideButtons: Boolean,
    status: Number
  },
  methods: {
    ...mapMutations(["setShowLoginModal"]),
    ...mapActions("status", ["voteUp", "voteDown"]),
    votePlus: function() {
      if (!this.$store.state.token) this.setShowLoginModal(true);
      else {
        this.$store.dispatch("status/voteUp", {
          questionId: this.questionId,
          answerId: this.answerId
        });
        this.clicked = true;
        setTimeout(() => (this.clicked = false), 1001);
      }
    },
    voteMinus: function() {
      if (!this.$store.state.token) this.setShowLoginModal(true);
      else {
        this.$store.dispatch("status/voteDown", {
          questionId: this.questionId,
          answerId: this.answerId
        });

        this.clicked = true;
        setTimeout(() => (this.clicked = false), 1000);
      }
    },
    buildWave: function(w, h) {
      const m = 0.512286623256592433;

      let pathData = [
        "M",
        0,
        h * 0.625, // start point for svg center + half of the amplitude
        "c",
        0.35 * h * m,
        0, //dx1 dy1  control point for the start. c - curve
        0.35 * h * (1 - m),
        -0.25 * h, //dx2 dy2 control point for the end; up in svg is negative
        0.35 * h,
        -0.25 * h, //dx dy the end point
        "s",
        0.35 * h * (1 - m),
        0.25 * h,
        0.35 * h,
        0.25 * h,
        "s",
        0.35 * h * (1 - m),
        -0.25 * h,
        0.35 * h,
        -0.25 * h, //up
        "s",
        0.35 * h * (1 - m),
        0.25 * h,
        0.35 * h,
        0.25 * h, //down
        "s",
        0.35 * h * (1 - m),
        -0.25 * h,
        0.35 * h,
        -0.25 * h, //up
        "s",
        0.35 * h * (1 - m),
        0.25 * h,
        0.35 * h,
        0.25 * h, //down
        "s",
        0.35 * h * (1 - m),
        -0.25 * h,
        0.35 * h,
        -0.25 * h, //up
        "s",
        0.35 * h * (1 - m),
        0.25 * h,
        0.35 * h,
        0.25 * h, //down
        "s",
        0.35 * h * (1 - m),
        -0.25 * h,
        0.35 * h,
        -0.25 * h, //up
        "s",
        0.35 * h * (1 - m),
        0.25 * h,
        0.35 * h,
        0.25 * h //down
      ].join(" ");

      return pathData;
    },
    getWave: function() {
      if (window.screen.width > 600) {
        return this.buildWave(300, 100);
      } else return this.buildWave(300, 50);
    }
  }
};
</script>

<style lang="scss">
svg {
  margin: 0 auto;
  overflow: hidden;
}

.status {
  height: 100%;
  width: 100%;
  font-size: 3.2rem;
  font-weight: 200;

  justify-content: baseline;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;

  @media only screen and (max-width: 600px) {
    font-size: 2.2rem;
  }

  &__wave {
    transform: translate3d(-20px, -30px, 0);
    width: 30rem;
    height: 8rem;
    @media only screen and (max-width: 600px) {
      transform: translate3d(-20px, -15px, 0);
    }
  }

  &__wave-div {
    width: 7rem;
    height: 3.5rem;
    overflow: hidden;
    @media only screen and (max-width: 600px) {
      width: 5rem;
      height: 5rem;
    }
  }

  &__wave-active {
    transform: translate3d(-230px, -30px, 0);
    transition: transform 1s ease-in-out;

    @media only screen and (max-width: 600px) {
      transform: translate3d(-125px, -15px, 0);
      transition: transform 1s ease-in-out;
    }
  }

  &__state {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    height: 100%;
    > img {
      filter: invert(100%);
      width: 5rem;
      height: 2rem;
      @media only screen and (max-width: 600px) {
        width: 3rem;
        height: 1.2rem;
      }
    }
  }

  &__value {
    margin: 0.5rem;
    color: black;
  }

  &__vote {
    margin: 1rem;
    color: black;
    cursor: pointer;
  }
}
</style>
