<template>
  <div>
    <h1
      v-if="!isLoading"
      class="header"
      v-bind:class="weight && { 'font-weight': weight }"
    >
      {{ value }}
    </h1>
    <div v-else class="loading-line" style="height: 20px"></div>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  props: ["value", "weight"],
  computed: {
    ...mapState({ isLoading: state => state.isLoading })
  }
};
</script>

<style lang="scss">
.header {
  font-weight: normal;
  font-size: 3.2rem;
  margin: 0;
  @media only screen and (max-width: 600px) {
    font-size: 2.6rem;
  }
}
</style>
