<template>
  <div class="logo" @click="linkToFeeds">
    <span>OZO</span>
  </div>
</template>

<script>
import router from "../../router";
export default {
  methods: {
    linkToFeeds() {
      router.push({ name: "main" });
    }
  }
};
</script>

<style lang="scss">
.logo {
  width: 7.5rem;
  height: 7.5rem;
  margin: 1rem;
  background-color: rgb(176, 233, 234);
  border-radius: 5%;
  color: black;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-family: "Geostar", cursive;

  font-size: 1.7rem;
  font-weight: 600;
  padding: 0.5rem 0.8rem;
  letter-spacing: 1px;

  &:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    transition: background-color 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67),
      color 0.5s;
  }

  @media only screen and (max-width: 600px) {
    width: 5rem;
    height: 5rem;
  }
}
</style>