<template>
  <div>
    <p v-if="!isLoading" class="text" v-bind:style="style(weight, size)">
      {{ value }}
    </p>

    <div v-else>
      <div
        v-for="index in loadingLines || 1"
        :key="index"
        class="loading-line"
      ></div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  props: ["value", "weight", "loadingLines", "size"],
  computed: {
    ...mapState({ isLoading: state => state.isLoading })
  },
  methods: {
    style: (weight, size) => {
      let styles = {};
      if (weight) styles["font-weight"] = weight;
      if (size) styles["font-size"] = size;
      return styles;
    }
  }
};
</script>

<style lang="scss">
.text {
  font-weight: normal;
  font-size: 2.8rem;
  margin: 0;
  @media only screen and (max-width: 600px) {
    font-size: 1.8rem;
  }
}
</style>
