<template>
  <div>
    <button class="button" v-bind:class="getStyles(mode)">{{ text }}</button>
  </div>
</template>

<script>
export default {
  props: ["mode", "text"],
  methods: {
    getStyles: mode => {
      switch (mode) {
        case "white":
          return "button__white";
        case "grey":
          return "button__grey";
        case "red":
          return "button__red";
        default:
          return "button__grey";
      }
    }
  }
};
</script>

<style lang="scss">
.button {
  font-size: 1.4rem;
  font-family: inherit;
  font-weight: 300;
  color: black;
  text-transform: uppercase;
  min-width: 7rem;
  height: 3.5rem;

  border: 0.1rem solid #000000;
  box-sizing: border-box;
  border-radius: 0.5rem;
  padding: 0 0.5rem 0 0.5rem;
  margin: 1rem;

  @media only screen and (max-width: 600px) {
    width: 8rem;
    height: 3rem;
    margin: 0.3rem;
  }

  &__white {
    background-color: white;
  }

  &__grey {
    background: #c4c4c4;
  }

  &__red {
    background: red;
  }
}
</style>
