<template>
  <div class="toggle">
    <label class="switch">
      <input @click="changeSorting" v-model="byRating" type="checkbox" />
      <span class="slider round"></span>
    </label>
    <div class="toggle__labels">
      <p>{{ $t("feed.byRating") }}</p>
      <p>{{ $t("feed.byDate") }}</p>
    </div>
  </div>
</template>

<script>
export default {
  props: ["changeSorting", "byRating"]
};
</script>

<style lang="scss">
p {
  margin: 0.5rem;
}

.toggle {
  height: 6rem;
  background-color: rgba(169, 169, 169, 0.7);
  padding: 1rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: black;
  display: flex;
  border-radius: 1.5rem;

  &__labels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 3.4rem;
  height: 6rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::after {
  position: absolute;
  content: "";
  height: 2.6rem;
  width: 2.6rem;
  left: 0.4rem;
  bottom: 0.4rem;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #ffffff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ffffff;
}

input:checked + .slider::after {
  -webkit-transform: translateY(-2.6rem);
  -ms-transform: translateY(-2.6rem);
  transform: translateY(-2.6rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round::after {
  border-radius: 50%;
}
</style>
